<div class="container">
        <div class="card-inicio">
            <div class="card-logo">
                <img src="img/Barsand-Logo.png" alt="">
            </div>
            <div class="enlaces">
                <ul>
                    <li>
                        <a href="/lima">
                            <p>Lima</p> 
                            <i class="fas fa-user-tie icon"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/provincia">
                            <p>Provincia</p>
                            <i class="fas fa-user-tag icon"></i>
                        </a>
                    </li>
                    
                   
                </ul>
                <div class="footer">
                    <ul>
                        <li class="icon-w">
                            <a href="http://api.whatsapp.com/send?phone=51961475546" target="_blank">
                                <i class="fab fa-whatsapp"></i>
                            </a> 
                        </li>
                        <li class="icon-f">
                            <a href="https://www.facebook.com/BarsandPeru/" target="_blank">
                                <i class="fab fa-facebook-f icon-f"></i>
                            </a>
                        </li>
                        <li class="icon-i">
                            <a href="https://www.instagram.com/barsand.peru/" target="_blank">
                                <i class="fab fa-instagram"></i> 
                            </a> 
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>